* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}



.main-container {
	background-color: #F9F9F9;
	overflow-x: hidden;
	position: relative;
}

.first-section {
	background-color: hsl(193, 100%, 96%);
	
}

.bg-mobile {
	position: absolute;
}

.bg-desktop {
	display: none;
}

.header-section {
  width: 90%;
	margin: 0 auto;
	text-align: right;
	display: grid;
	grid-template-columns: 6;
	grid-template-rows: 1;
	grid-template-areas: "logo . . . . button";

}

.logo-img {
	position: relative;
	width: 32%;
	height: 35%;
	margin-top: 8%;
	grid-area: logo;
}

.first-button {
	position: relative;
	margin-top:15%;
	grid-area: button;
	border-radius: 20px;
	border-width: 0px;
	background-color: white;
	box-shadow: 0 20px 32px rgba(0,0,0,0.11);
	display: inline-block;
	font-weight: 700;
	padding: 6px 18px;
	font-size: 0.7rem;
}

.first-button:hover {
	opacity: 0.7;
	cursor: pointer;
}

h1 {
	position: relative;
	padding-top: 20%;
	text-align: center;
	width: 75%;
	margin: 0 auto;
	font-size: 1.4rem;
	font-weight: 700;
}

.first-h2 {
	position: relative;
	padding-top: 10%;
	text-align: center;
	width: 75%;
	margin: 0 auto;
	font-size: 0.92rem;
	font-weight: 500;
}

.second-button-container {
	text-align: center;
	padding: 10% 0;
}

.second-button {
	position: relative;
	width: 65%;
	background-color: hsl(322, 100%, 66%);
	border-radius: 20px;
	padding: 10px 20px;
	color: white;
	border-width: 0px;
	box-shadow: 0 20px 32px rgba(0,0,0,0.11);
	font-weight: 700;
}

.second-button:hover {
	opacity: 0.6;
	cursor: pointer;
}

.mockups-img {
	width: 82%;
	position: relative;
	padding-top: 20%;
	padding-left: 9%;
}

.second-section {
	background-color: white;
	padding-top: 16%;
	width: 90%;
	margin: 15% auto;
	border-radius: 20px;
	text-align: center;
}

.grow-together-img {
  width: 80%;
  display: block;
  margin: auto;
}

h2 {
	padding-top: 13%;
	padding-bottom: 7%;
	font-weight: 700;
	font-size: 1.6rem;
	width: 100%;
	margin: 0 auto;
}

p {
	padding-bottom: 8%;
	font-size: 0.95rem;
	color: hsl(208, 11%, 55%);
	width: 80%;
	margin: 0 auto;
}

.third-section {
	background-color: white;
	padding-top: 16%;
	width: 90%;
	margin: 15% auto;
	border-radius: 20px;
	text-align: center;
}

.flowing-conv-img {
  width: 80%;
  display: block;
  margin: auto;
}

.fourth-section {
	background-color: white;
	padding-top: 16%;
	width: 90%;
	margin: 15% auto;
	border-radius: 20px;
	text-align: center;
}

.your-users-img {
	width: 80%;
  display: block;
  margin: auto;
}

.bottom-box {
	text-align: center;
	width: 95%;
	margin: 20% auto;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 20px 32px rgba(0,0,0,0.11);
	position: absolute;
	left: 2.5%;
}

.bottom-box h2 {
	font-size: 1.1rem;
	font-weight: 700;
}

.third-button {
	background-color: hsl(322, 100%, 66%);
	border-radius: 30px;
	border-width: 0px;
	padding: 16px 30px;
	color: white;
	font-weight: 700;
	margin-bottom: 10%;
	font-size: 0.7rem;
	box-shadow: 0 20px 32px rgba(0,0,0,0.11);
}

.third-button:hover {
	opacity: 0.6;
	cursor: pointer;
}

.footer-content {
	background-color: hsl(192, 100%, 9%);
	margin-top: 60%;
	padding-top: 50%;
}

.logo-img-bottom {
	padding-left: 10%;
	margin-bottom: 8%;
}

.footer-grid {
	display: grid;
	grid-template-rows: 2;
	grid-template-columns: 3;
	grid-template-areas: "location location-text"
	"phone phone-text"
	"email email-text";
}

.location-icon {
	grid-area: location;
	padding: 10% 30% 0 35%;
}

.location-text {
	grid-area: location-text;
	color: hsl(193, 100%, 96%);

}

.phone-icon {
	grid-area: phone;
	padding: 10% 30% 0 35%;
}

.phone-text {
	grid-area: phone-text;
	color: hsl(193, 100%, 96%);
}

.email-icon {
	grid-area: email;
	padding: 10% 30% 0 35%;

}

.email-text {
	grid-area: email-text;
	color: hsl(193, 100%, 96%);
}

.links-list {
	padding: 5% 10% 5% 4%;
	line-height: 2rem;
	list-style: none;
}

.links-list li a{
	text-decoration: none;
	color: hsl(193, 100%, 96%);
	list-style: none;
}

.links-list li a:hover {
	border-bottom-style: solid;
}

.social-links {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-links a {
  height: 30px;
  padding: 0% 4%;
}

.social-links a img:hover {
	background-color: hsl(322, 100%, 66%);
}

.social-links a img {
  height: 100%;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  padding: 10%;
}

.footer-p {
	text-align: center;
	color: hsl(193, 100%, 96%);
	font-size: 0.8rem;
}


.attribution { 
	width: 100%;
	font-size: 11px; text-align: center; 
	background-color: hsl(192, 100%, 9%);
}

@media only screen and (min-width: 768px) {

	.bg-mobile {
		display: none;
	}

	.bg-desktop {
		display: block;
		position: absolute;
	}


	.first-section {
		padding-bottom: 6%;
		margin-bottom: -3%;
	}

	.flex-container {
		display: flex;
	}

	.first-button {
		height: 60%;
	}

	h1 {
		font-size: 1.6rem;
		text-align: left;
	}

	.first-h2 {
		font-size: 1.1rem;
		text-align: left;
	}

	.second-button {
		width: 45%;
		padding: 2% 0;
		border-radius: 50px;
	}

	.second-button-container {
		text-align: left;
		padding-left: 11%;
	}

	.second-section {
		width: 70%;
		display: flex;
		flex-direction: row-reverse;
		padding: 6%;
		margin-bottom: -12%;
	}

	.grow-together-img {
		width: 48%;
	}

	.third-section {
		width: 70%;
		display: flex;
		flex-direction: row;
		padding: 6%;
		margin-bottom: -12%;
	}

	.flowing-conv-img {
		width: 48%;
		padding-right: 10%;
	}

	.fourth-section {
		width: 70%;
		display: flex;
		flex-direction: row-reverse;
		padding: 6%;
		margin-bottom: -38%;
	}

	.your-users-img {
		width: 48%;
	}

	.second-section h2, .third-section h2, .fourth-section h2 {
		text-align: left;
		font-size: 2rem;
	}

	p {
		text-align: left;
		margin: 0;
	}

	.bottom-box {
		width: 50%;
		margin: 50% 22%;
	}

	.bottom-box h2 {
		font-size: 2rem;
	}

	.third-button {
		width: 80%;
		font-size: 1.6rem;
		padding: 3% 0;
		border-radius: 50px;
	}

	.footer-content {
		margin-top: 60%;
		padding-top: 30%;
		padding-left: 1%;
	}

	.footer-grid {
		display: grid;
		grid-template-rows: 2;
		grid-template-columns: 8;
		grid-template-areas: " . . . location location-text  . . ."
	  ". . . phone phone-text . . ."
	  ". . . email email-text . . .";
	 width: 40%;
	 padding-left: 15%;
	 grid-area: info;
  }

  .links-list {
  	display: grid;
  	grid-template-rows: 3;
  	grid-template-columns: 2;
  	grid-template-areas: "first fourth"
  	"second fifth"
  	"third sixth";
  	font-size: 0.8rem;
  }

  .link1 {
  	grid-area: first;	
  	width: 90px;
  	
  }

  .link2 {
  	grid-area: second;
  	width: 90px;
  }

  .link3 {
  	grid-area: third;
  	width: 90px;
  	padding-right: 20%;
  	padding-bottom: 30%;
  }

  .link4 {
  	grid-area: fourth;
  	width: 90px;
  }

  .link5 {
  	grid-area: fifth;
  	width: 90px;
  	padding-right: 20%;
  }

  .link6 {
  	grid-area: sixth;
  	width: 90px;

  }

	.location-icon {
		padding: 0 40% 20% 30%;
	}

	.location-text {
		padding: 0 9% 3% 0;
	}

	.phone-icon {
		padding: 0 40% 20% 30%;
	}

	.phone-text {
		padding: 0 9% 3% 0;
	}

	.email-icon {
		padding: 0 40% 20% 30%;
	}

	.email-text {
		padding: 0 9% 3% 0;
	}

	.logo-img-bottom {
		padding-left: 15%;
		margin-bottom: 4%;
	}

	.full-footer {
		display: flex;
		
	}

	.grid-container-footer {
		display: flex;
  	align-items: center;
  	justify-content: center;
	}

	.social-links {
		margin-right: 10%;
	}

	.social-links a  {
		padding: 10%;

	}

	.footer-p {
		margin: 5% auto -1% auto;
		text-align: right;
	}

}

.attribution a { 
	color: hsl(193, 100%, 96%); 
}

.attribution a:hover {
	color: hsl(322, 100%, 66%);
}